.apartments {
    position: relative;
    &::before{
        content: "III";
        right: calc(50% + 555px);
        transform: translate(50% , -5%);

        @include decornumber;
       }
}

.apartments__title {
    margin-bottom: 88px;
}

.apartments__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   column-gap: 30px;
   row-gap: 30px;
}