.cta__form {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;

}
.form__input {
    height: 50px;
    width: 255px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: $white;
    font-size: 14px;

    &::placeholder{
        color: #BEBEBE;
        font-size: 14px;
    }

    &:focus{
        background-color: rgba(255, 255, 255, 0.4);
    }

}
.form__privacy {
    width: 255px;
    font-size: 13px;
    text-align: center;
    color:#E7E7E7;
    line-height: 1.2;
}

.form__btn {
    width: 255px;
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 12px;  
    background-color:$accent;
    transition: background-color .2s ease-in;

    &:hover{
        background-color:saturate($accent,20%);
    }
}