.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:840px;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
    padding-top: 30px;
    padding-bottom: 74px;
 
}


.header__top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__top-row--mobile{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index:9;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;

    .header__nav{
        display: block;
    }

    #nav__list{
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }


    .header__nav-btn{
        position: inherit;
        top: 50px;
        right: 20px;

    }
}


.header__nav-btn{
     display: none;
     
 @include mediatablet{   /*Микскин для планшета*/
    display: block;
 }
}

.header__tittle{
    padding-bottom: 121px;
    text-align: center;
    font-size: 48px;
    font-family:$font-accent;
    color: $accent;
    position: relative;
}

.header__tittle-icon{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.header__footer-row{
    display: flex;
    justify-content: space-evenly   ; 
}

.header__footer-address{
   
   position: relative;
 
    &:before{
      content: '';
       width: 14.71px;
        height: 21px;
         background-image: url("../../img/header/location.svg");
          position: absolute;
           left: -21px;
            top: 0;
    }
}

.header__footer-callback{

    position: relative;
    &:before{
        content: '';
        position: absolute;
         width: 21px;
          height: 21px;
           background-image: url(../../img/header/phone-call.svg);
            left: -28px;
             top: 0;
    }
}



//MediaRequest
@media screen and (max-width:$tablet) { //tabletw
    .header__nav{
        display: none;
    }
    .header__nav-btn{
        display: block;
    }
   
    .header{   
        overflow-x: hidden;
      width:1200px;
      min-height: unset;
      row-gap: 50px;
    }
    
    .header__tittle{
        font-size: 32px;
        padding-bottom: 80px;
    }
     
 
   

}


@media screen and (max-width:$phone){ //smartphone
  
    .header__footer-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}