@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

html {
    scroll-behavior: smooth;
  }


body{
    font-family: $font-main;
    background-color: $dark;
    color:$white;
    font-size: 16px;
}

.none{
    display: none !important;
}

a{
    color:$white;

    &:hover{
        color: $accent;
        transition:.2s ease-in;
    }
}

.container{
    padding: 15px;
    width:1140px;
    margin: 0 auto;
}


.title-2{
     font-family: $font-accent;
      font-weight: 700;
       font-size: 36px;
        color: $accent;
    }


.visuality-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}