@mixin decornumber {   /*Микскин для decornumber*/
    position: absolute;
    top: 0;
    line-height: 1.15;
    font-size: 400px;
    font-family: $font-accent;
    opacity: 0.02;
  }

  @mixin mediatablet{  /*Микскин для планшета*/
    @media screen and (max-width:$tablet) {
      @content
    }
  }